body, h1, h2, h3, h4, h5, h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/* Create a Parallax Effect */
.bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.letras_laranja{
  font-size: 35px;
  color: #DF7401;
}


.borda_img{
  border: 5px solid #777;
}


/******IMAGENS DAS SECÇÕES*******/

/* Second image (Adoção) */
.bgimg-2 {
    background-image: url("../img/fundo_2.jpg");
    min-height: 400px;
}
/* Third image (Apelos Externos) */
.bgimg-3 {
    background-image: url("../img/fundo_3.jpg");
    min-height: 400px;
}
/* Fourth image (Contact) */
.bgimg-4 {
    background-image: url("../img/fundo_4.jpg");
    min-height: 400px;
}
/* Fifth image (Como ajudar) */
.bgimg-5 {
    background-image: url("../img/fundo_5.jpg");
    min-height: 400px;
}

/* Sixth image (Familias carenciadas) */
.bgimg-6 {
    background-image: url("../img/fundo_6.jpg");
    min-height: 400px;
}



.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
        background-attachment: scroll;
    }
}

.foot_redes{
    font-size:80px!important;
     display: block;
     margin-left: 20px;
     margin-right: auto;
}


#parcerias{
  background-color: grey;
  text-align:center;
  padding-top:100px;
  padding-bottom:100px;
  position:relative;

}

.image-card {
    min-height: 400px;
    overflow: hidden;
    text-align:center;
    position: relative;
}

.btn_fat{
  text-align: center;
  margin:0;
  padding:0;

}

.p_tamanho20{
  font-size:20px!important;
}


.p_info{
  font-size:20px!important;
}

.p_ajuda_1texto{
  font-size:20px!important;
}

.p_ajuda_textoSeguinte{
  font-size:17px!important
}


/*** Login ***/


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btn_login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn_login:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/*** Carousel ***/



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/**** Conteudo Carousel ****/

.item{

}

.container1{
    position: absolute;
    top: 70%;
    left: 20%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    height: 300px; /* defina a largura da imagem */
    width: 300px; /* defina a altura da imagem */

}


.container2{
    background-image: url('../img/Logo_StreetDogs.jpg');
    background-position:center; /* centraliza apenas o background - para não cortar */
    height: 400px; /* defina a largura da imagem */
    width: 400px; /* defina a altura da imagem */
    background-repeat:no-repeat; /* para não repetir o background */
    background-size: 100%;
    top: 0%;
    left: 38%;

}


.img_carousel_dir{
    background-position:center; /* centraliza apenas o background - para não cortar */
    height: 150px; /* defina a largura da imagem */
    width: 150px; /* defina a altura da imagem */
    background-repeat:no-repeat; /* para não repetir o background */
    background-size: 100%;
}

.container3{
    position: absolute;
    top: 40%;
    left: 70%;

}



.img_logo{
    text-align: left;
    max-width: 100%;
    height: auto;
    display:block;

}

.p_carousel{
    font-size:20px!important;
    color: black;
    text-align: left;
}

.redes{
    text-align: center;
    font-size: 70px;
    flex: auto;

}





